Due to challenges faced trying to access the blockchain data en masse, i created a local instance of the lbry-explorer and this notebook leverages the mongoDB data source that exists as part of the lbry-explorer.

In [1]:
import pandas as pd
from pymongo import MongoClient
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import getpass
password = getpass.getpass()

········

In [20]:
def connect_mongo(host, port, username, password, db):
    """ A util for making a connection to mongo """

    if username and password:
        mongo_uri = 'mongodb://%s:%s@%s:%s/%s' % (username, password, host, port, db)
        conn = MongoClient(mongo_uri)
    else:
        conn = MongoClient(host, port)


    return conn[db]


def read_mongo(db, collection, host='localhost', port=27017, username=None, password=None, no_id=True):
    """ Read from Mongo and Store into DataFrame """

    # Connect to MongoDB
    db = connect_mongo(host=host, port=port, username=username, password=password, db=db)
    
    # Make a query to the specific DB and Collection
    cursor = db[collection].find()
    #print list(cursor)

    # Expand the cursor and construct the DataFrame
    df =  pd.DataFrame(list(cursor))

    # Delete the _id
    if no_id:
        del df['_id']

    return df.drop("__v", axis=1)

Collections:
    addresses,
    markets,
    richlists,
    stats,
    txes

In [21]:
db = "explorerdb"
collection = "txes"

In [22]:
df = read_mongo(db, collection, host='localhost', port=27017, username="zargham", password=password)

In [23]:
df.head()

,blockhash,blockindex,timestamp,total,txid,vin,vout
0,decb9e2cca03a419fd9cca0cb2b1d5ad11b088f22f8f38...,1,1466646588,100000000,5dda81f42196d2647a173b008d729cf778d3f609adf846...,"[{u'amount': 100000000, u'addresses': u'coinba...","[{u'amount': 100000000, u'addresses': u'bZi1WE..."
1,28547a040490cc48c6c130622631bb52bc5388f98fc287...,2,1466646589,100000000,479dbab52d36a3223f0c4c2f2fc7fbdd44154917af3c65...,"[{u'amount': 100000000, u'addresses': u'coinba...","[{u'amount': 100000000, u'addresses': u'bZi1WE..."
2,c919ad56b3fdfc23f55bb9fba14d1211f3972ff63b2021...,3,1466646589,100000000,1a76ca5e68384568197beb1e6da885e10e1617a7364592...,"[{u'amount': 100000000, u'addresses': u'coinba...","[{u'amount': 100000000, u'addresses': u'bZi1WE..."
3,d557e01dffd10b7dddc84f7c3596176bd97cba36b3f67f...,4,1466646590,100000000,0cc8fe1387560146d4a315a6d89c117207940c5ba9b750...,"[{u'amount': 100000000, u'addresses': u'coinba...","[{u'amount': 100000000, u'addresses': u'bZi1WE..."
4,4ca73d305d9dcde059c482593df71c75ca89a74967ed13...,5,1466646590,100000000,79c5eccaf593a860975f756660df64520e8666753b1ae8...,"[{u'amount': 100000000, u'addresses': u'coinba...","[{u'amount': 100000000, u'addresses': u'bZi1WE..."